<mat-card>
  <mat-card-content style="background-color: #d4d4d4;">

    <div class="column-flex mat-elevation-z8">
      <mat-toolbar color="primary" style="background-color: #042635;">Cursos Disponíveis</mat-toolbar>
      <app-courses-list *ngIf="courses$ | async as courses; else loading" [courses]="courses"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"></app-courses-list>
    </div>
  </mat-card-content>

  <ng-template #loading>
    <div class="loading-bar">
      <mat-progress-bar mode="indeterminate" style="background-color: white;"></mat-progress-bar>
    </div>
  </ng-template>
</mat-card>
