<mat-card>
  <mat-card-content>
    <div class="column-flex mat-elevation-z8">
      <mat-toolbar color="primary" style="background-color: #042635;">
        <span>Detalhes do Curso</span>
      </mat-toolbar>

      <form [formGroup]="form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" formControlName="name" #name>
          <mat-hint align="end">{{name.value.length}}/10</mat-hint>
          <mat-error *ngIf="form.get('name')?.invalid">{{getErrorMessage("name")}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option value="null"> </mat-option>
            <mat-option value="front-end">Front-end</mat-option>
            <mat-option value="back-end">Back-end</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div class="button-container">
        <button mat-raised-button (click)="onSubmit()">Salvar</button>
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </div>
    </div>
  </mat-card-content>

</mat-card>
